@font-face {
    font-family: Optician Sans;
    font-weight: normal;
    src: url("../Fonts/OpticianSans-Regular.woff") format("woff"), 
         url("../Fonts/OpticianSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: Open Sans;
    font-weight: bold;
    src: url("../Fonts/open-sans-v17-latin-600.woff2") format("woff2"),
         url("../Fonts/open-sans-v17-latin-600.woff") format("woff");
}

@font-face {
    font-family: Open Sans;
    font-weight: normal;
    src: url("../Fonts/open-sans-v17-latin-300.woff2") format("woff2"),
         url("../Fonts/open-sans-v17-latin-300.woff") format("woff");
}
 